extends ../../base/layout


block customHead 
    link(rel="stylesheet", href="../../css/main.css")
    title Giỏ hàng của bạn
    script(defer,type='module',src='../../js/cart.js')

block content
    include ../../layout/topbar
    include ../../layout/navigation
    include ../../page-component/cart/breadcrumb
    include ../../page-component/cart/main
    +cart({checkout:false})
        +button({text:'Thanh toán',class:`cart-btn-checkout js-cart-btn-checkout`})
        +button({text:'Xoá tất cả',class:`cart-btn-del js-cart-btn-del`})