extends ../../base/layout


block customHead 
    link(rel="stylesheet", href="../../css/main.css")
    title Thanh toán
    script(defer,type='module',src='../../js/checkout.js')
block content
    include ../../layout/topbar
    include ../../layout/navigation
    include ../../page-component/checkout/main
