extends ../../base/layout

block customHead 
    link(rel="stylesheet", href="../../css/main.css")
    title Trang chủ

block content
    include ../../layout/topbar
    include ../../page-component/thank/main
    
